{% extends "train.html %}
{% block js %}
<h1> LALALALA </h1><br>
<!--    <script>
        window.onload = function(){draw();}
        function draw(){
           {% for img in images %}
                
                var c = document.getElementById("canv-{{ forloop.counter }}");
                var ctx = c.getContext("2d");
                var img = document.getElementById("image-{{ forloop.counter }}");
                ctx.drawImage(img,0,0);
                {% if img.faces|length == 0 %}
                    ctx.font = "30px Arial";
                    ctx.fillStyle="#FF0000";
                    ctx.fillText("No Faces",10,50);
                {% endif %}
                {% for form,square in img.faces %}
                    ctx.strokeStyle="#FF0000";
                    ctx.rect({{square.0}} , {{square.1}}, {{square.2}}, {{square.3}});
                    ctx.stroke();
                {%endfor%} 
           {%endfor%} 
        }
    </script> -->
{%endblock %}
