{% extends "base.html" %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        //$(document).ready(function(){
        //    draw();
        //});
        window.onload = function(){
            draw();
            gen_form_actions();
        }
        var colors=["#FF0000","#00FF00","#000008","#FFFF00","#AABB00","#00CC00","#00CCDD","#DDCC00"]

        function color_form(img_index,face_index){
            var elem_id="training_image_"+img_index+"_face_"+face_index;
            elem=document.getElementById(elem_id);
            elem.style.borderColor = colors[face_index-1];
            //.style.borderColor = "#005500";
        }
        function draw(){
           {% for img in images %}
                
                var c = document.getElementById("canv-{{ forloop.counter }}");
                var ctx = c.getContext("2d");
                var img = document.getElementById("image-{{ forloop.counter }}");
                ctx.drawImage(img,0,0);
                {% if not img.squares %}
                    ctx.font = "30px Arial";
                    ctx.fillStyle="#FF0000";
                    ctx.fillText("No Faces",10,50);
                {% endif %}
                {% for square in img.squares %}
                    ctx.strokeStyle=colors[{{forloop.counter0}}];
                    ctx.strokeRect({{square|join:","}});
                    color_form({{forloop.parentloop.counter}},{{forloop.counter}})
                {%endfor%} 
                    ctx.stroke();
           {%endfor%} 
        }

        function set_action(img_idx,frm_idx){
            frm_id="#training_sample_form_"+img_idx+"_"+frm_idx;
            console.log("Set Action");
            frm = $(frm_id);

            frm.submit(function(){
                $.ajax({
                    type: "POST",
                    url: "/harvest/train/"+img_idx+"/"+frm_idx,
                    data: frm.serialize(),
                    success: function(json){
                        console.log("Success");
                    },
                    error:  function(json){
                        console.log("Fail");
                        console.log(json);
                    }
                });
            });

            {% comment %}
            $(frm_id).submit(function(e){
                $.post("/harvest/train/"+img_idx+"/"+frm_idx,$(this).serialize(), function(data){
                    $('.message').html(data.message);
                    alert("Done");
                    $(frm_id).hide();
                });
                e.preventDefault();
            });
            {% endcomment %}
        }
        function gen_form_actions(){
           {% for img in images %}
               img_index={{forloop.counter}}
               {% for frm in img.forms %}
                    frm_index={{forloop.counter}}
                    set_action(img_index,frm_index);
               {%endfor%} 
           {%endfor%} 
        }
    </script> 
{%endblock%}


{% block content %}

<h2> training </h2>
{% if images %}
   <div id="training_list">
   {% for img in images %}
        <div id="training_image_{{forloop.counter}}">
        <img src="/media/{{ img.src }}" id="image-{{ forloop.counter }}" hidden="true" > 
        <canvas id="canv-{{forloop.counter}}" width="300" height=300>
            No HTML5 canvas.
        </canvas>
        {% if img.forms|length <= 0 %}
            <h3> no faces</h3>
        {% endif %}
        {% for form in img.forms %}
            <div id="training_image_{{forloop.parentloop.counter}}_face_{{forloop.counter}}" \
                style="border-style: solid;border-width: 1px;" \
                >
            <form id="training_sample_form_{{forloop.parentloop.counter}}_{{forloop.counter}}" >{% csrf_token %}
            {{form}} 
            <input type="submit" />
            </form>
            </div>
        {% endfor %}
        </div>
    {%endfor%} 
    </div>


{% else %}
    <h3>No Images</h3>
{% endif %}

{% endblock %}
